*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}

/* Simple reset styling */
html,
body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row {
  background-color: #fff;
  display: flex;

  /* On mobile phones, have the items arranged from top to bottom */
  flex-direction: column;
}

[class*="col-"] {
  padding: 15px;
  width: 100%;
}

header {
  background-color: #7f8c8d;
  color: #fff;
  padding: 15px;
}

.menu {
  max-width: 600px;
}

.menu li {
  background-color: #7f8c8d;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  margin-bottom: 7px;
  padding: 8px;
  color: #fff;
}

.menu li:hover {
  background-color: #09c;
}

.aside {
  background-color: #7f8c8d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}

footer {
  background-color: #7f8c8d;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

/* On tablets, arrange items from left to right, but keep the third item at the bottom */
@media only screen and (min-width: 600px) {
  .row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  div.menu {
    flex-basis: 30%;
    justify-self: flex-start;
    max-width: 25%;
  }

  .col-2 {
    flex-basis: 400px;
    flex-grow: 1;
    width: 450px;
  }
}

/* On desktops, arrange ALL items in a row */
@media only screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .col-2 {
    flex-grow: 2;
  }

  .col-3 {
    justify-content: flex-end;
    max-width: 25%;
  }
}
